#wrapper {
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
}

#first {
    border: 1px solid red;
    float: left; /* add this */
}

#second {
    border: 1px solid green;
    float: left; /* add this */
}